/* global styles */
* {
    margin: 0;
    font-family: "Azeret Mono", serif;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.section-title {
    color: #0D1321;
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
}

.section-subtitle {
    color: #555A63;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    margin: 24px 0 48px 0;
}

/* header styles */

/* nav styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0;
}

nav h2 {
    font-size: 28px;
    font-weight: bolder;
}

nav button {
    font-size: 20px;
    padding: 17px 24px;
    border: 1px solid #0D1321;
    border-radius: 8px;
    background-color: white;
}

nav button:hover {
    color: white;
    background-color: #0D1321;
    cursor: pointer;
}

@media screen and (max-width: 576px) {
    nav {
        flex-direction: column;
    }

    nav h2 {
        font-size: 18px;
        margin-bottom: 15px;
    }

    nav button {
        font-size: 16px;
        padding: 10px 10px;
    }
}

/* hero section styles */
.hero-section {
    background: url('../assets/Hero-bg.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px 221px;
    text-align: center;
    margin-bottom: 74px;
}

.hero-section h1 {
    color: #0D1321;
    font-size: 48px;
    font-weight: bolder;
    margin-top: 32px;
    line-height: 1.6;
}

.hero-section p {
    color: #555A63;
    font-size: 16px;
    line-height: 1.6;
    margin: 24px 0 32px 0;
}

.hero-section button {
    color: white;
    font-size: 20px;
    padding: 17px 24px;
    border: 1px solid #0D1321;
    border-radius: 8px;
    background-color: #0D1321;
}

.hero-section button:hover {
    color: #0D1321;
    background-color: #FAFAFB;
    cursor: pointer;
}

@media screen and (max-width: 576px) {
    .hero-section {
        padding: 35px 35px;
    }

    .hero-section h1 {
        font-size: 30px;
    }

    .hero-section button {
        font-size: 16px;
        padding: 10px 10px;
    }
}

/* why web dev section styles */
.why-web-dev {
    background-color: #FAFAFB;
    border: 0;
    border-radius: 16px;
    padding: 80px 97px;
    margin-bottom: 90px;
}

.why-web-dev button {
    font-size: 20px;
    padding: 12px 20px;
    border: 1px solid #555A63;
    background-color: white;
    color: #555A63;
}

.why-web-dev button:hover {
    background-color: #0D1321;
    color: white;
    cursor: pointer;
}

.why-web-dev-box-1 {
    color: #555A63;
    background-image: linear-gradient(to right, white, #FAFAFB);
    border: 0;
    border-radius: 16px;
    padding: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.why-web-dev-box-2 {
    color: #555A63;
    background-image: linear-gradient(to right, #FAFAFB, white);
    border: 0;
    border-radius: 16px;
    padding: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.why-web-dev-box-3 {
    color: #555A63;
    background-image: linear-gradient(to right, white, #FAFAFB);
    border: 0;
    border-radius: 16px;
    padding: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.why-web-dev-box-1:hover,
.why-web-dev-box-3:hover {
    background-image: linear-gradient(to right, #FAFAFB, white);
}

.why-web-dev-box-2:hover {
    background-image: linear-gradient(to right, white, #FAFAFB);
}

.why-web-dev-box-title {
    font-size: 24px;
    line-height: 1.6;
}

.why-web-dev-box-subtitle {
    margin: 16px 0 32px 0;
    font-size: 16px;
    line-height: 1.6;
}

@media screen and (max-width: 576px) {
    .why-web-dev {
        padding: 35px;
    }

    .why-web-dev button {
        font-size: 16px;
        padding: 10px 10px;
    }

    .why-web-dev-box-1,
    .why-web-dev-box-2,
    .why-web-dev-box-3 {
        flex-direction: column;
        gap: 30px;
        padding: 20px;
    }
}

/* inspiration section styles */
.video-container {
    padding: 32px;
    border: 1px solid #DBDBDE;
    border-radius: 16px;
    margin-bottom: 151px;
}

.video-container iframe {
    border: 0;
    border-radius: 16px;
}

@media screen and (max-width: 576px) {
    .video-container iframe {
        height: 300px;
    }
}

/* current target section styles */
.skills {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-bottom: 111px;
}

.skill-1,
.skill-2,
.skill-3 {
    padding: 40px;
    border: 0;
    border-radius: 16px;
}

.skill-1:hover,
.skill-2:hover,
.skill-3:hover {
    background-color: #FAFAFB;
}

.skill-1 {
    background-color: #FFF6F4;
}

.skill-2 {
    background-color: #F2F6FE;
}

.skill-3 {
    background-color: #FFFDF2;
}

.skills h3 {
    color: #0D1321;
    font-size: 24px;
    font-weight: bolder;
    margin-top: 24px;
}

.skills p {
    color: #555A63;
    font-size: 16px;
    line-height: 1.6;
    margin: 24px 0;
}

.skills a {
    color: #0D1321;
    font-size: 16px;
    font-weight: bold;
}

@media screen and (max-width: 576px) {
    .skills {
        flex-direction: column;
    }
}

/* next target section styles */
.target {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 32px;
    border: 1px solid #DBDBDE;
    border-radius: 16px;
    margin-bottom: 49px;
}

.target:hover {
    box-shadow: 5px 5px 5px #DBDBDE;
}

.target-content h3 {
    color: #0D1321;
    font-size: 24px;
    font-weight: bolder;
}

.target-content p {
    color: #555A63;
    font-size: 16px;
    line-height: 1.6;
    margin: 24px 0;
}

.target-content a {
    color: #0D1321;
    font-size: 16px;
    font-weight: bold;
}

@media screen and (max-width: 576px) {
    .target {
        flex-direction: column;
    }
}

/* support section styles */
.support {
    background: url('../assets/handshake.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 64px 48px;
    border: 1px solid black;
    border-radius: 16px;
    margin-bottom: 80px;
}

.support h2 {
    color: white;
}

.support p {
    color: #DBDBDE;
}

.support-form {
    text-align: center;
}

.support input {
    padding: 20px;
    border: 0;
    border-radius: 8px;
    color: #DBDBDE;
    font-size: 16px;
    margin-right: 16px;
    width: 548px;
}

.support input:focus {
    color: #0D1321;
}

.support button {
    font-size: 20px;
    padding: 17px 24px;
    border: 1px solid #0D1321;
    border-radius: 8px;
    background-color: white;
}

.support button:hover {
    color: white;
    background-color: #0D1321;
    cursor: pointer;
}

@media screen and (max-width: 576px) {
    .support {
        padding: 20px;
    }

    .support input {
        display: none;
    }

    .support button {
        font-size: 16px;
        padding: 10px 10px;
    }
}

/* footer styles */
footer {
    background-color: #F8F8F8;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
}

.footer h4 {
    color: #0D1321;
    font-size: 20px;
    font-weight: bold;
}

@media screen and (max-width: 576px) {
    .footer {
        flex-direction: column;
        gap: 30px;
    }

    .footer h4 {
        text-align: center;
        font-size: 16px;
    }
}