*{
    margin: 0;
    font-family: "Work Sans", serif;
}

/* common styles */

.container{
    width: 70vw;
    margin: 0 auto;
}

.btn-primary{
    font-size: 20px;
    padding: 15px 20px;
    color: white;
    background-color: #F15B22;
    border-radius: 5px;
    border: 0;
}

.btn-primary:hover{
    color: #F15B22;
    background-color: white;
    cursor: pointer;
    font-weight: bold;
}

.btn-secondary{
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 5px;
    border: 0;
    color: #F15B22;
    background-color: white;
}

.btn-secondary:hover{
    cursor: pointer;
    font-weight: bold;
}

.section-title{
    font-size: 40px;
    font-weight: bold;
}

.section-paragraph{
    color: #444343;
    font-size: 16px;
    margin: 25px 0;
}

/* header styles */

header{
    height: 100vh;
    background-image: url('../images/hero-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: end;
}

.hero-content{
    text-align: right;
    margin-right: 200px;
    width: 500px;
}

.hero-title{
    font-size: 65px;
    font-weight: bold;
}

.hero-description{
    color: #444343;
    margin: 30px 0;
    font-size: 16px;
}

/* main styles */

/* failures section styles */

.failures{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 130px 0;
}

.failures-content{
    width: 400px;
}

.failures-content ul{
    padding: 0;
    list-style-type: none;
    color: #444343;
}

.failures-content ul>li{
    margin-bottom: 8px;
}

/* plans section styles */

.plans-title{
    text-align: center;
}

.plans-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 130px 0;
}

.plan{
    text-align: center;
}

.plan-title{
    margin: 20px 0 15px 0;
    font-size: 30px;
}

.plan-text{
    color: #444343;
}

/* CTA section styles */

.cta-module{
    background-image: url('/images/gradient.png'), url('/images/watch.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin-bottom: 130px;
    border-radius: 10px;
    border: 0;
    padding-left: 70px;
    padding-top: 100px;
}

.cta-text{
    font-weight: bold;
    font-size: 40px;
    color: white;
    margin-bottom: 25px;
    width: 460px;
}

/* footer styles */

footer{
    background-color: #151414;
    color: white;
    padding: 130px 0;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content{
    width: 485px;
}

.footer-paragraph{
    color: white;
    font-size: 16px;
    margin: 25px 0;
}

.footer-form input, .footer-form button{
    display: block;
}

.footer-form-title{
    font-size: 25px;
}

.footer-form input{
    margin: 20px 0;
    background-color: #151414;
    color: white;
    padding: 15px;
    border: solid 1px white;
    border-radius: 5px;
    width: 200px;
}